

<h1><%= @resultado[0]["name"]["latin"] %></h1>
<br><hr>

<% @paginacion.each do |item| %>

    <h5><%= item["name"]["latin"] %></h5>
    <img src="<%= item["images"]["main"] %>" alt="">
    <hr>

<% end %>

<%= paginate @paginacion %>